html {
    font-size: 100px;
    font-family: PingFangSC-Regular;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

div,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}