@font-face {
    font-family: 'iconfont';
    /* project id 2298640 */
    src: url('//at.alicdn.com/t/font_2298640_83obppbyvlh.eot');
    src: url('//at.alicdn.com/t/font_2298640_83obppbyvlh.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_2298640_83obppbyvlh.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_2298640_83obppbyvlh.woff') format('woff'),
        url('//at.alicdn.com/t/font_2298640_83obppbyvlh.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_2298640_83obppbyvlh.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e71b";
}

.icon-cart:before {
    content: "\e7e5";
}

.icon-order:before {
    content: "\e605";
}

.icon-My:before {
    content: "\e6b3";
}